body {
    background-color: #038;
}

#banner {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    background-color: #06A;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    padding-left: 3%;
    padding-top: 15px;
}
#content {
    top: 0px;
    left: 0px;
    background-color: #038;
    color: #eee;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 3%;
}

span {
    display: inline-block;
    width: 100%;
}
span:hover {
    color: green;
    font-weight: bold;
}

.description {
    position: absolute;
    left: 25%;
    width: 65%;
    background-color: white;
    color: #112;
    border: 2px solid #666;
    border-radius: 15px;
    padding: 15px;
    font-size: 18px;
    line-height: 1.33;
    opacity: 0;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    transition: opacity 250ms;
}

@keyframes pulse_animation {
    0% { color: #2a2; }
    50% { color: #2d2; }
    100% { color: #2a2; }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: #002878;
}

.btn {
    display: inline-block;
    margin-top: -5px;
    margin-left: 30px;
    width: 220px;
    height: 35px;
    color: black;
    font-size: 15px;
    border-radius: 7px;
    background-color: white;
}

.btn:hover {
    color: red;
}